body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

ul.header-dropmenu {
    list-style: none;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    display: table;
    table-layout: fixed;
}
ul.header-dropmenu > li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #f8f8f8;
    background: #f8f8f8; /* 背景色*/
}
ul.header-dropmenu li a {
    display: block;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 10px;
}
ul.header-dropmenu li ul {
    visibility: hidden;
    width: 100%;
    list-style: none;
    position: absolute;
    top: 100%;
    left: -1px;
    margin: 0;
    padding: 0;
    border: 1px solid #222; /* マウスオーバー時の枠線 */
    border-top: none;
}
ul.header-dropmenu li:hover ul {
    visibility: visible;
}
ul.header-dropmenu li ul li {
    background: #fff;
    transition: all .2s ease;
}
ul.header-dropmenu > li:hover {
    background: #fff;
    border: 1px solid #222; /* マウスオーバー時の枠線 */
    border-bottom: none;
}
ul.header-dropmenu li:hover ul li:hover {
    background: #f8f8f8;
}

#button{
    position: absolute;
    width: 50%;
    left:25%;
    bottom: 3%;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

#ad{
    position: absolute;
    bottom: 5%;
    left :0%;
}